.mainWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    max-width: 500px;
}

.form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .mainWrapper {
    padding: 0.5rem;
    width: 50vw;
    justify-content: unset;
  }
}