.formWrapper {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    padding: 1rem;
    max-width: 250px;
    min-width: 200px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 600px) {
  .formWrapper {
    padding: 0.5rem;
  }
}